.header {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first_section {
  background-color: blue;
  display: flex;
  flex: 1;
  padding: 48px;
  gap: 48px;
  align-items: center;
  justify-content: centers;
  /* flex-direction: row; */
}

.signup,
.first_section_image {
  flex: 1;
  width: 50%;
}

.first_section_image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.signup-btn {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

a {
  text-decoration: none;
  font-size: 18px;
}

.second_section {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagecontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 32px;
}

.img {
  width: 300px;
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.third_section {
  background-color: #e5e7eb;
}

.third_section p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.callcard {
  background-color: #3882f6;
}
